.Grid {
  max-width: 1320px;
  margin: 0 auto;
}

.topbar-wrapper .topbar-inner p {
  font-family: "Open Sans";
  font-size: 14px;
  color: #464544;
  cursor: pointer;
  transition: 0.5s;
}

.topbar-wrapper .topbar-inner .green {
  /* color: #80b500; */
  color: #afbaca;
}

.topbar-wrapper .topbar-inner p:hover {
  /* color: #80b500; */
  color: #afbaca;
}

.topbar-wrapper .topbar-inner i {
  cursor: pointer;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.topbar-wrapper .topbar-inner i:hover {
  /* color: #80b500; */
  color: #afbaca;
}

/* Responsive Part Area ------------ */

@media (min-width: 420px) and (max-width: 768px) {
  .topbar-wrapper {
    display: block;
    text-align: center;
  }

  .topbar-inner,
  .topbar-innerRes {
    justify-content: center;
  }
}

@media (max-width: 420px) {
  .topbar-wrapper {
    display: block;
    text-align: center;
  }

  .topbar-inner,
  .topbar-innerRes {
    justify-content: center;
  }

  .topbar-inner {
    display: block;
    justify-content: center;
    text-align: center;
    text-align: left;
  }
}
