@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

.proDetails-wrapper {
  background: #f6f7fb;
}

.proDetails-inner {
  background-color: #ffffff;
}

.proDetails-inner--img img {
	height: 140px;
	padding-left: 15px;
}

.proDetails-details h3 {
	font-family: "Montserrat";
	font-size: 25px;
}

.proDetails-details p {
	font-family: "Montserrat";
}

.proDetails-details span {
	text-decoration: line-through;
	color: #232323;
}

.proDetails-details i {
	color: #FACE3A;
}

.proDetails-details h4 {
	color: #68cac0;
	font-family: 'Montserrat';
}

.proDetails-details h5 {
	font-family: "Montserrat";
	color: #232323;
}

.quantity-control {
	font-family: 'Montserrat';
  align-items: center;
	width: 120px;
	border: thin solid #00000013;
	background: #f5f4f4f6;
}

.proDetails-counter i {
	color: #232323;
	font-size: 20px;
	padding: 14px;
}

.quantity-control a {
	font-size: 20px;
}


.quantity-control > span {
  font-size: 18px;
  /* font-weight: bold; */
  margin: 0 10px;
	text-decoration: none;
}

.addToCard {
	background: #6176FE;
	color: #ffffff;
	font-family: 'Montserrat';
	margin: 0 !important;
	margin-right: 5px !important;
	padding: 11px;
	
}

.proDetails-models {
	font-family: 'Montserrat';
}

.proDetails-models span {
	text-decoration: none !important;
	color: #23232388;
}

.proDetails-models .models-icons {
	color: #7f66da;
	font-size: 20px;
}

.proDetails-specif {
	background: #FFFFFF;
}

.proDetail-specifTabs {
	background-color: #F3F4F7;
}

.proDetail-specifTabs h3 {
	font-family: "Montserrat";
}

.proDetail-specifTabs h3:hover, .proDetail-specifTabs .selected {
	background-color: #6176FE;
	color: #ffffff;
}

.proDetails-specif h3 {
	font-family: 'Montserrat';	
	color: #232323a4;
}

.proDetails-border {
	font-family: "Montserrat";
}

.proDetails-border i {
	color: #FACE3A;
}