.uploadProduct-wrapper {
  background: #f6f7fb;
}

.uploadProduct-inner {
  background: #ffffff;
}

.uploadProduct-inner h3 {
  font-size: 20px;
  font-family: "Montserrat";
}

#outlined-textarea-label {
  color: #353538ce;
}

.MuiOutlinedInput-notchedOutline {
  border: 1px solid #ccccccce !important;
}

.upProduct-right--inner,
.upProduct-left--inner {
  box-shadow: 0px 0px 5px 0px rgba(168, 168, 168, 0.438);
  padding: 10px;
}

.uploadProduct-right a {
  color: #ffffff;
  font-family: "Montserrat";
  width: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 55px;
  background: #09ac95;
}

.uploadProduct--spefic {
  box-shadow: 0px 0px 5px 0px rgba(168, 168, 168, 0.438);
}

.uploadProduct--spefic h3 {
  font-family: "Montserrat";
}

.uploadProduct--spefic p {
  text-align: center;
  line-height: 40px;
  font-family: "Montserrat";
}

.uploadProduct--spefic p:hover {
  background: #beb3fc;
}

.uploadProduct-inner--title {
  font-family: "Montserrat";
}

.uploadProduct-bottom {
  box-shadow: 0px 0px 5px 0px rgba(168, 168, 168, 0.438);
}

.uploadProduct-bottom--inner {
  width: 100%;
  flex-wrap: wrap;
}

.uploadProduct-bottom img {
  height: 170px;
  width: 230px;
}

.uploadProduct-bottom--icon {
  background-color: #fafafa;
}

.uploadProduct-bottom--icon i {
  font-size: 80px;
}

.uploadProduct-bottom--btn a {
  font-size: 16px;
  font-family: "Montserrat";
}

.uploadProduct-bottom--btn .publish {
  background: #5e76fb;
}

.uploadProduct-bottom--btn .cancel {
  background-color: #fb6866;
}
