/* Product Tabs */
#products .products-tabs  {
  position: relative;
}

#products .products-tabs {
  font-family: "Rajdhani";
}

#products .products-inner {
  justify-content: center;
}



/* Product Card */

#products .products-card {
  position: relative;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  border: thin solid #3a575c11;
}

#products .products-card img {
  height: 290px;
  width: 100%;
}


#products .productsResponsive     {
  display: block !important;
}
#products .prodsResInner      {
  display: block !important;
}

.new-arrival {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 4px 20px;
  background-color: #AFBACA !important;
  color: #ffffff;
  -webkit-border-radius: 10px 0 10px 0;
  border-radius: 10px 0 10px 0;
  -moz-border-radius: 10px 0 10px 0;
  -ms-border-radius: 10px 0 10px 0;
  -o-border-radius: 10px 0 10px 0;
  font-size: 14px;
}

#products .products-desc h4 {
  font-family: "Rajdhani";
  cursor: pointer;
}

#products .products-desc h3 span {
  text-decoration: line-through;
}

#products .products-desc i {
  color: #ffbf21;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

#products .products-desc i:hover,
#products .products-desc h4:hover,
#products .products-desc h3 {
  color: #AFBACA;
}

.products-hoverIcons {
  display: none;
}

#products .products-card:hover {
  box-shadow: 0px 10px 48px 10px rgba(185, 185, 185, 0.4);
}

#products .products-card:hover .products-hoverIcons {
  display: block;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

#products .products-hoverIcons li {
  background-color: #ffffff;
  color: #071c1f;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

#products .products-hoverIcons li:hover {
  color: #ffffff;
  background-color: #AFBACA;
}

.react-tabs__tab--selected {
  border: none;
  color: #AFBACA;
  border-bottom: thin solid #AFBACA !important;
}

/* Responsive Area */

@media (max-width: 549.98px) {
  #products h1 {
    font-size: 22px;
  }

  #products .products-tabs h3 {
    padding-right: 10px !important;
  }

  #products .products-tabs h3:last-child {
    padding-right: 0;
  }

  #products .productsResponsive {
    justify-content: center;
  }
}

@media (min-width: 550px) and (max-width: 767.98px) {
  #products h1 {
    font-size: 25px;
  }

  #products .products-tabs h3 {
    padding-right: 10px !important;
  }

  #products .products-tabs h3:last-child {
    padding-right: 0;
  }

  #products .productsResponsive {
    justify-content: center;
  }
 
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #products h1 {
    font-size: 30px;
  }
  
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #products h1 {
    font-size: 35px;
  }

}

@media (min-width: 1200px) and (max-width: 1400px) {
  #products h1 {
    font-size: 40px;
  }
}
