@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

.customer-wrapper {
  background: #f5f7fa;
  font-family: "Montserrat";

  padding: 20px;
}

.customer-title {
  font-family: "Montserrat";
  font-size: 26px;
  padding: 0;
}

.customer-links {
  font-family: "Montserrat";
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 40px;
}

.customer-links span {
  color: #5e76fe;
}

.customer-wrapper .avatar {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.customer-innerLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 40px;
  background-color: #f9f9f9;
}

.innerLeftTxt {
  text-align: left;
}

.customer-innerLeft h2 {
  font-weight: 600;
  font-size: 26px;
  margin-top: 20px;
}

.text-muted {
  color: #696969cb;
}

.bg-muted {
  background: #f6f7f9;
}

.text-blue {
  color: #6f85fd;
  font-weight: 500;
}

.padding {
  padding: 10px;
}

.innerLeftTxt .button {
  padding: 5px;
  text-align: center;
  border: thin solid gray;
  margin: 20px;
  border-radius: 5px;
  font-weight: 600;
  background: #ffffff;
}

.text-bold {
  padding: 0;
  font-weight: 600;
  color: #232323;
}

.innerLeftTxt p {
  color: #3a3a3aad;
  font-weight: 500;
  margin: 5px 0;
}

.orders-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all-order-btn {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #ebf0ff;
  color: #5e76fe;
  font-weight: 600;
}

.account-details {
  max-width: 400px;
  margin-top: 40px;
  border-radius: 6px;
}

.account-dHead {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.account-dHead h6 {
  padding: 20px;
}

.account-dHead p {
  padding: 0;
}

.account-details hr {
  margin: 0 10px !important;
}

.account-dContent .flexx {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.scroll-y {
  background: #e2e7f1;
}
